@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {

        /*
            primary: BLACK
            secondary: BLUE
            Unique: GREEN
            Odd: ORANGE
            Inverted: WHITE
        */

        --text-primary: 0, 0, 0;
        --text-gray: 64, 64, 64;
        --text-secondary: 1, 61, 196;
        --text-unique: 22, 163, 74;
        --text-odd: 234, 88, 12;
        --text-inverted: 229, 229, 229;

        --bg-primary: 0, 0, 0;
        --bg-gray: 64, 64, 64;
        --bg-secondary: 1, 61, 196;
        --bg-unique: 22, 163, 74;
        --bg-odd: 234, 88, 12;
        --bg-inverted: 229, 229, 229;

    }

}


@layer components {



    .btn-1 {
        @apply bg-skin-secondary w-max py-2 px-6 rounded-md font-extrabold text-skin-inverted;
    }


    .heading-3 {
        @apply text-xl md:text-2xl font-bold;
    }

    .nav-link {
        @apply cursor-pointer text-skin-inverted font-bold transition-all duration-100 text-xs hover:text-skin-inverted/90 w-max;
    }

    .mob-nav-link {
        @apply cursor-pointer text-skin-inverted transition-all duration-100 font-bold text-3xl hover:text-skin-inverted/90 w-max;
    }

    .active-submenu {
        @apply max-w-5xl mx-auto h-max max-h-[500px] ease-in-out overflow-hidden transition-all opacity-100 duration-700 pt-8 pb-12;
    }

    .hide-submenu {
        @apply max-w-5xl mx-auto h-max max-h-0 ease-in-out overflow-hidden transition-all opacity-0 duration-700 p-0;
    }

    .active-mob-menu {
        @apply min-[992px]:hidden max-w-5xl bg-skin-gray ease-in-out absolute top-0 left-0 w-full mx-auto h-screen min-h-screen overflow-y-auto overflow-x-hidden visible transition-all opacity-100 duration-700 pt-8;
    }

    .hide-mob-menu {
        @apply min-[992px]:hidden max-w-5xl bg-skin-gray ease-in-out absolute top-0 left-0 w-full mx-auto h-screen min-h-0 overflow-hidden invisible transition-all opacity-0 duration-700 p-0;
    }

    .active-mob-mainmenu {
        @apply p-10 flex flex-col gap-2 h-max w-full transition-all ease-in-out translate-x-0 overflow-y-auto overflow-x-hidden opacity-100 duration-[1s];
    }

    .hide-mob-mainmenu {
        @apply p-0 w-0 transition-all ease-in-out -translate-x-14 overflow-y-hidden overflow-x-hidden opacity-0 duration-300;
    }

    .active-mob-submenu {
        @apply p-10 w-full h-screen max-h-max visible flex flex-col gap-8 transition-[opacity,trasnform] ease-in-out overflow-y-auto translate-x-0 overflow-x-hidden opacity-100 duration-[2s];
    }

    .hide-mob-submenu {
        @apply p-0 h-0 w-0 max-h-max invisible transition-opacity ease-in-out overflow-y-hidden translate-x-28 overflow-x-hidden opacity-0 duration-300;
    }


    .sub-category-heading {
        @apply text-skin-inverted/50 text-sm font-light;
    }

    .sub-category-link {
        @apply text-skin-inverted/90 text-2xl font-semibold;
    }

    .sub-category-link-2 {
        @apply text-skin-inverted/90 text-sm font-semibold;
    }

    .feature-info-div {
        @apply flex items-center gap-4;
    }

    .feature-info-heading {
        @apply text-xl font-bold;
    }

    .feature-info-icon {
        @apply text-skin-secondary text-4xl;
    }

    .arrow-icons {
        @apply py-3 px-4 relative flex justify-center items-center bg-gray-200 text-xl font-light;
    }




    .product-card-icons {
        @apply p-1 rounded-full text-xl transition-all duration-200 hover:bg-blue-600 hover:text-skin-inverted;
    }


    .categories-card {
        @apply lg:max-w-[500px] xl:max-w-[200px] w-[100%] flex flex-col justify-center items-center py-2 border border-gray-400 transition-all duration-300 hover:border-blue-600 hover:text-skin-secondary;
    }


    .filter-heading {
        @apply uppercase text-lg;
    }


    .color-li {
        @apply text-sm flex gap-2 items-center cursor-pointer transition-all duration-300 hover:text-skin-secondary;
    }

    .color-circle {
        @apply h-3 w-3 border border-black rounded-full;
    }


    .tags-text {
        @apply group-hover:text-skin-secondary duration-300 text-xs
    }

    .tags-checkbox {
        @apply w-3 h-3 rounded border-gray-300 focus:border-black focus:ring-0 focus:outline-none text-sm bg-white cursor-pointer
    }


    .tags-checkbox:checked {
        @apply bg-blue-600
    }


    .tags-check-label {
        @apply flex items-center gap-1 cursor-pointer w-max;
    }

    .product-form-inp {
        @apply text-sm border hover:ring-1 hover:ring-blue-700 focus:outline-none focus:ring-1 focus:ring-blue-700 hover:outline-none py-1 px-2 rounded-md;
    }



    .nav-btns {
        @apply absolute z-10 top-[40%] text-skin-secondary text-4xl
    }

    .next {
        @apply -right-5 sm:right-0 top-[39%];
    }

    .prev {
        @apply -left-1 sm:left-0
    }



    .home-slider-btns {
        @apply absolute z-50 top-[50%] text-skin-secondary text-4xl
    }

    .home-next {
        @apply right-0;
    }

    .home-prev {
        @apply left-0
    }



    .input-form {
        @apply block font-bold py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b border-[#e5e5e5] duration-300 text-skin-inverted appearance-none outline-none ring-0 focus:outline-none focus:ring-0 focus:border-black;
    }

    .floating-label-div {
        @apply relative z-0 w-full;
    }

    .floating-label {
        @apply absolute font-bold start-0 text-sm text-skin-inverted duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-skin-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
    }



}






html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

.remove-number-arrows::-webkit-outer-spin-button,
.remove-number-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}

.tippy-box[data-theme~='dark'] {
    background-color: black;
    color: white;
}



/* HOMEPAGE SLIDER */

.slideshow {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 700px;
    margin: 50px auto;
}

.slideshow * {
    outline: none;
    width: 100%;
    height: 100%;
}

.slideshow .slider {
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
}

.slideshow .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slideshow .item {
    height: 100%;
    position: relative;
    z-index: 1;
}

.slideshow .item img {
    width: 100%;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    transform: scale(1.2);
}

.slideshow .item.slick-active img {
    transform: scale(1);
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.my-slider>.slick-prev,
.my-slider>.slick-next {
    z-index: 50;
}

.my-slider>.slick-prev {
    left: 0px;
}

.my-slider>.slick-next {
    right: 0px;
}


/* PRODUCT SLIDER */


.js .slider-single>div:nth-child(1n+2) {
    display: none
}

.js .slider-single.slick-initialized>div:nth-child(1n+2) {
    display: block
}

.slider-nav .slick-slide {
    cursor: pointer;
}

.slick-track {
    display: flex;
    gap: 5px;
}



.slick-prev::before,
.slick-next::before {
    font-size: 20px;
    color: black;
}



.slideitem1 {
    background: url('../assets/Images/banner-images/slide1.jpg');
}

.slideitem2 {
    background: url('../assets/Images/banner-images/slide2.jpg');
}

.banner1 {
    background: url('../assets/images/banner-images/small-banner-1.jpg');
    background-size: cover !important;
}

.banner2 {
    background: url('../assets/images/banner-images/small-banner-2.jpg');
}


























/* 404 PAGE STYLE */



@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

.about {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
}

.about .bg_links {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    backdrop-filter: blur(5px);
    position: absolute;
}

.about .logo {
    width: 40px;
    height: 40px;
    z-index: 9;
    background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    opacity: 0.9;
    transition: all 1s 0.2s ease;
    bottom: 0;
    right: 0;
}

.about .social {
    opacity: 0;
    right: 0;
    bottom: 0;
}

.about .social .icon {
    width: 100%;
    height: 100%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: flex;
    transition: all 0.2s ease, background-color 0.4s ease;
    opacity: 0;
    border-radius: 100%;
}

.about .social.portfolio {
    transition: all 0.8s ease;
}

/* .about .social.portfolio .icon {
        background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
    }

    .about .social.dribbble {
        transition: all 0.3s ease;
    }

    .about .social.dribbble .icon {
        background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
    }

    .about .social.linkedin {
        transition: all 0.8s ease;
    }

    .about .social.linkedin .icon {
        background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
    } */

.about:hover {
    width: 105px;
    height: 105px;
    transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .logo {
    opacity: 1;
    transition: all 0.6s ease;
}

.about:hover .social {
    opacity: 1;
}

.about:hover .social .icon {
    opacity: 0.9;
}

.about:hover .social:hover {
    background-size: 28px;
}

.about:hover .social:hover .icon {
    background-size: 65%;
    opacity: 1;
}

.about:hover .social.portfolio {
    right: 0;
    bottom: calc(100% - 40px);
    transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.portfolio .icon:hover {
    background-color: #698fb7;
}

.about:hover .social.dribbble {
    bottom: 45%;
    right: 45%;
    transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.dribbble .icon:hover {
    background-color: #ea4c89;
}

.about:hover .social.linkedin {
    bottom: 0;
    right: calc(100% - 40px);
    transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .social.linkedin .icon:hover {
    background-color: #0077b5;
}

/* h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li,
    button,
    a,
    i,
    input,
    body {
        margin: 0;
        padding: 0;
        list-style: none;
        border: 0;
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        color: inherit;
    }

    h1:focus,
    h2:focus,
    h3:focus,
    h4:focus,
    h5:focus,
    h6:focus,
    p:focus,
    ul:focus,
    li:focus,
    button:focus,
    a:focus,
    i:focus,
    input:focus,
    body:focus {
        outline: 0;
    } */

/* body {
        margin: 0;
        padding: 0;
        height: auto;
        font-family: "Barlow", sans-serif;
        background: #695681;
    } */

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);
}

.logo img {
    width: 55%;
    height: 55%;
    transform: translateY(-1px);
    opacity: 0.8;
}

nav .menu {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 3;
}

nav .menu .website_name {
    color: #695681;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    background: white;
    padding: 4px 8px;
    border-radius: 2px;
    opacity: 0.5;
    transition: all 0.4s ease;
    cursor: pointer;
}

nav .menu .website_name:hover {
    opacity: 1;
}

nav .menu .menu_links {
    transition: all 0.4s ease;
    opacity: 0.5;
}

nav .menu .menu_links:hover {
    opacity: 1;
}

@media screen and (max-width: 799px) {
    nav .menu .menu_links {
        display: none;
    }
}

nav .menu .menu_links .link {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 50px;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.3s 0.2s ease;
}

nav .menu .menu_links .link:last-child {
    margin-right: 0;
}

nav .menu .menu_links .link:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 4px;
    background: linear-gradient(90deg, #ffedc0 0%, #ff9d87 100%);
    bottom: -10px;
    border-radius: 4px;
    transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
    left: 100%;
}

nav .menu .menu_links .link:hover {
    opacity: 1;
    color: #fb8a8a;
}

nav .menu .menu_links .link:hover:before {
    width: 40px;
    left: 0;
}

nav .menu .menu_icon {
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 799px) {
    nav .menu .menu_icon {
        display: flex;
    }
}

nav .menu .menu_icon .icon {
    width: 24px;
    height: 2px;
    background: white;
    position: absolute;
}

nav .menu .menu_icon .icon:before,
nav .menu .menu_icon .icon:after {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.49, 0.04, 0, 1.55);
}

nav .menu .menu_icon .icon:before {
    transform: translateY(-8px);
}

nav .menu .menu_icon .icon:after {
    transform: translateY(8px);
}

nav .menu .menu_icon:hover .icon {
    background: #ffedc0;
}

nav .menu .menu_icon:hover .icon:before {
    transform: translateY(-10px);
}

nav .menu .menu_icon:hover .icon:after {
    transform: translateY(10px);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper .container {
    margin: 0 auto;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper .container .scene {
    position: absolute;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
}

.wrapper .container .one,
.wrapper .container .two,
.wrapper .container .three,
.wrapper .container .circle,
.wrapper .container .p404 {
    width: 40%;
    height: 40%;
    top: 28% !important;
    left: 30% !important;
    min-width: 300px;
    min-height: 300px;
}

.wrapper .container .one .content,
.wrapper .container .two .content,
.wrapper .container .three .content,
.wrapper .container .circle .content,
.wrapper .container .p404 .content {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: content 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}

@keyframes content {
    0% {
        width: 0;
    }
}

.wrapper .container .one .content .piece,
.wrapper .container .two .content .piece,
.wrapper .container .three .content .piece,
.wrapper .container .circle .content .piece,
.wrapper .container .p404 .content .piece {
    width: 200px;
    height: 80px;
    display: flex;
    position: absolute;
    border-radius: 80px;
    z-index: 1;
    animation: pieceLeft 8s cubic-bezier(1, 0.06, 0.25, 1) infinite both;
}

@keyframes pieceLeft {
    50% {
        left: 80%;
        width: 10%;
    }
}

@keyframes pieceRight {
    50% {
        right: 80%;
        width: 10%;
    }
}

@media screen and (max-width: 799px) {

    .wrapper .container .one,
    .wrapper .container .two,
    .wrapper .container .three,
    .wrapper .container .circle,
    .wrapper .container .p404 {
        width: 90%;
        height: 90%;
        top: 5% !important;
        left: 5% !important;
        min-width: 280px;
        min-height: 280px;
    }
}

@media screen and (max-height: 660px) {

    .wrapper .container .one,
    .wrapper .container .two,
    .wrapper .container .three,
    .wrapper .container .circle,
    .wrapper .container .p404 {
        min-width: 280px;
        min-height: 280px;
        width: 60%;
        height: 60%;
        top: 20% !important;
        left: 20% !important;
    }
}

.wrapper .container .text {
    width: 60%;
    height: 40%;
    min-width: 400px;
    min-height: 500px;
    position: absolute;
    margin: 40px 0;
    animation: text 0.6s 1.8s ease backwards;
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
}

@media screen and (max-width: 799px) {
    .wrapper .container .text {
        min-height: 400px;
        height: 80%;
    }
}

.wrapper .container .text article {
    width: 400px;
    position: absolute;
    bottom: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 799px) {
    .wrapper .container .text article {
        width: 100%;
    }
}

.wrapper .container .text article p {
    color: white;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-bottom: 40px;
    text-shadow: 6px 6px 10px #32243e;
}

.wrapper .container .text article a {
    height: 40px;
    padding: 0 30px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(54, 24, 79, 0.5);
    z-index: 3;
    color: #695681;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .container .text article a:hover {
    box-shadow: 0px 10px 10px -10px rgba(54, 24, 79, 0.5);
    transform: translateY(5px);
    /* background: #fb8a8a; */
    color: blue;
}

.wrapper .container .p404 {
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 4px;
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    animation: anime404 0.6s cubic-bezier(0.3, 0.8, 1, 1.05) both;
    animation-delay: 1.2s;
}

@media screen and (max-width: 799px) {
    .wrapper .container .p404 {
        font-size: 100px;
    }
}

@keyframes anime404 {
    0% {
        opacity: 0;
        transform: scale(10) skew(20deg, 20deg);
    }
}

.wrapper .container .p404:nth-of-type(2) {
    color: #36184f;
    z-index: 1;
    animation-delay: 1s;
    filter: blur(10px);
    opacity: 0.8;
}

.wrapper .container .circle {
    position: absolute;
}

.wrapper .container .circle:before {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: rgba(54, 24, 79, 0.2);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
    animation: circle 0.8s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}

@keyframes circle {
    0% {
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 799px) {
    .wrapper .container .circle:before {
        width: 400px;
        height: 400px;
    }
}

.wrapper .container .one .content:before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgba(54, 24, 79, 0.3);
    border-radius: 100%;
    box-shadow: inset 5px 20px 40px rgba(54, 24, 79, 0.25), inset 5px 0px 5px rgba(50, 36, 62, 0.3), inset 5px 5px 20px rgba(50, 36, 62, 0.25), 2px 2px 5px rgba(255, 255, 255, 0.2);
    animation: circle 0.8s 0.4s cubic-bezier(1, 0.06, 0.25, 1) backwards;
}

@media screen and (max-width: 799px) {
    .wrapper .container .one .content:before {
        width: 300px;
        height: 300px;
    }
}

.wrapper .container .one .content .piece {
    background: linear-gradient(90deg, #8077ea 13.7%, #eb73ff 94.65%);
}

.wrapper .container .one .content .piece:nth-child(1) {
    right: 15%;
    top: 18%;
    height: 30px;
    width: 120px;
    animation-delay: 0.5s;
    animation-name: pieceRight;
}

.wrapper .container .one .content .piece:nth-child(2) {
    left: 15%;
    top: 45%;
    width: 150px;
    height: 50px;
    animation-delay: 1s;
    animation-name: pieceLeft;
}

.wrapper .container .one .content .piece:nth-child(3) {
    left: 10%;
    top: 75%;
    height: 20px;
    width: 70px;
    animation-delay: 1.5s;
    animation-name: pieceLeft;
}

.wrapper .container .two .content .piece {
    background: linear-gradient(90deg, #ffedc0 0%, #ff9d87 100%);
}

.wrapper .container .two .content .piece:nth-child(1) {
    left: 0%;
    top: 25%;
    height: 40px;
    width: 120px;
    animation-delay: 2s;
    animation-name: pieceLeft;
}

.wrapper .container .two .content .piece:nth-child(2) {
    right: 15%;
    top: 35%;
    width: 180px;
    height: 50px;
    animation-delay: 2.5s;
    animation-name: pieceRight;
}

.wrapper .container .two .content .piece:nth-child(3) {
    right: 10%;
    top: 80%;
    height: 20px;
    width: 160px;
    animation-delay: 3s;
    animation-name: pieceRight;
}

.wrapper .container .three .content .piece {
    background: #fb8a8a;
}

.wrapper .container .three .content .piece:nth-child(1) {
    left: 25%;
    top: 35%;
    height: 20px;
    width: 80px;
    animation-name: pieceLeft;
    animation-delay: 3.5s;
}

.wrapper .container .three .content .piece:nth-child(2) {
    right: 10%;
    top: 55%;
    width: 140px;
    height: 40px;
    animation-name: pieceRight;
    animation-delay: 4s;
}

.wrapper .container .three .content .piece:nth-child(3) {
    left: 40%;
    top: 68%;
    height: 20px;
    width: 80px;
    animation-name: pieceLeft;
    animation-delay: 4.5s;
}
